.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("https://images.pexels.com/photos/1233101/pexels-photo-1233101.jpeg?cs=srgb&dl=pexels-1233101.jpg&fm=jpg");
    background-size: cover;
    height: 100%;
    filter: blur(8px);
    transform: scale(1.1);
}
