.table {
    table-layout: fixed;
}


.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("https://cdn.pixabay.com/photo/2015/11/19/21/10/knowledge-1052010_960_720.jpg");
    background-size: cover;
    height: 100%;
    filter: blur(8px);
    transform: scale(1.1);
}